.window{
    height: 700px;
    width: 1000px;
    background-color: darkgray;
    border-radius: 0.8rem;
    background-color: rgb(25, 25, 25);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(157, 157, 157);
    font-weight: 500;

    .nav{
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid rgb(90, 90, 90);
    
    .dots{
        display: flex;
        gap: 0.25rem;

        .dot{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
        }

        .red{
            background-color: rgb(239, 31, 31);
        }

        .yellow{
            background-color: rgb(213, 213, 6);
        }

        .green{
            background-color: rgb(1, 208, 1);
        }
    }

    
}
    .main-content{
        height: 100%;
    }

}