.dock {
  display: flex;
  gap: 0.6rem;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(72, 71, 71, 0.395);
  padding-inline: 0.65rem;
  padding-block: 0.65rem;
  border-radius: 0.65rem;
  backdrop-filter: blur(2px);

  .icon {
    padding: 0.65rem;
    border-radius: 0.5rem;
    width: 48px;
    height: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .github,
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(to bottom, rgb(255, 179, 87), rgb(255, 153, 28));
  }

  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }

  .calender {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 25, 255));
  }

  .link {
    background: linear-gradient(to bottom, rgb(126, 6, 126), rgb(199, 31, 199));
  }

  .mail {
    background: linear-gradient(to bottom, rgb(241, 104, 54), rgb(190, 77, 35));
  }

  .spotify {
    background: linear-gradient(to bottom, rgb(18, 190, 18), rgb(1, 133, 1));
  }

  .icon:hover{
    transform: scale(1.15) translateY(-20%);
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover){
    transform: scale(1.05) translateY(-8%);
  }
}
