nav {
  width: 100%;
  color: white;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  background-color: rgba(71, 71, 71, 0.187);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;

  .left,
  .right {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
  }

  .datetime {
    display: flex;
    gap: 12px; /* real spacing */
  }
}
